

{% extends 'base.html' %}



{% load static %}

{% block content %}


<main id="main">
    <!-- ======= About Section ======= -->
    <section style="margin-top: 40px;" id="about" class="about">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-left" data-aos-delay="100">
            <img src="{% static '/assets/img/about.jpg' %}" class="img-fluid" alt="">
          </div>
          <div class="col-lg-6 pt-4 pt-lg-0 order-2 order-lg-1 content">
            <h3>In Mentor Library  mainly two types of books- fiction and non-fiction. These types are further divided into various genres..</h3>
            <p class="fst-italic">
Libraries provide a wide range of materials and activities to help children and young people learn and develop skills. They are an excellent place for people to find books that can help them with personal development. Libraries can also foster creativity and help build their social skills in a stress-free environment.            </p>
            <ul>
              <li><i class="bi bi-check-circle"></i>  Reading books increases the knowledge of students, improves their intellect.</li>
              <li><i class="bi bi-check-circle"></i> Books, magazines, periodicals, audios, videos and materials in other formats as per their reading interests and tastes..</li>
              <li><i class="bi bi-check-circle"></i> Library is a place where there is huge collection of books and various other resources that are made accessible for reading and reference purpose.</li>
            </ul>
            <p>
Libraries use classification systems to organize the books on the shelves. A classification system uses letters and/or numbers (call numbers) to arrange the books so that books on the same topic are together.            </p>

          </div>
        </div>

      </div>
    </section><!-- End About Section -->

    <!-- ======= Counts Section ======= -->
    <section id="counts" class="counts section-bg">
      <div class="container">
  
        <div class="row counters">
  
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="99000" data-purecounter-duration="5" class="purecounter"></span>
            <p>Students</p>
          </div>
  
          <div class="col-lg-3 col-6 text-center">
            <span data-purecounter-start="0" data-purecounter-end="500000" data-purecounter-duration="10" class="purecounter"></span>
            <p>Books</p>
          </div>
  
  
  
        </div>
  
      </div>
    </section><!-- End Counts Section -->
  
  
    <!-- ======= Why Us Section ======= -->
    <section id="why-us" class="why-us">
      <div class="container" data-aos="fade-up">

        <div class="row">
          <div class="col-lg-4 d-flex align-items-stretch">
            <div class="content">
              <h3>Why Choose Mentor?</h3>
              <p>“Bookstores are lonely forts, spilling light onto the sidewalk. ...
                “Bookshops are places of endless entertainment and renewal – what's not to love?” – ...
                “Bookshops are my natural habitat.” 
                “Bookshops are places of magical discoveries and the rediscovery of past pleasures.
                
              </p>
            </div>
          </div>
          <div class="col-lg-8 d-flex align-items-stretch" data-aos="zoom-in" data-aos-delay="100">
            <div class="icon-boxes d-flex flex-column justify-content-center">
              <div class="row">
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-receipt"></i>
                    <h4>Large collection </h4>
                    <p>We are Providing a large collections Of  Books Then Others </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-cube-alt"></i>
                    <h4>Easy To Use</h4>
                    <p>Our Website Easy To Use </p>
                  </div>
                </div>
                <div class="col-xl-4 d-flex align-items-stretch">
                  <div class="icon-box mt-4 mt-xl-0">
                    <i class="bx bx-images"></i>
                    <h4>Learn with Pictures</h4>
                    <p>We Are Also Provide Learn Through Pictures They Are Easy To Understand </p>
                  </div>
                </div>
              </div>
            </div><!-- End .content-->
          </div>
        </div>

      </div>
    </section><!-- End Why Us Section -->

    <!-- ======= Features Section ======= -->
    <section id="features" class="features">
      <div class="container" data-aos="fade-up">

        <div class="row" data-aos="zoom-in" data-aos-delay="100">
          <div class="col-lg-3 col-md-4">
            <div class="icon-box">
              <i class="ri-store-line" style="color: #ffbb2c;"></i>
              <h3><a href="">Audio Books</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4 mt-md-0">
            <div class="icon-box">
              <i class="ri-bar-chart-box-line" style="color: #5578ff;"></i>
              <h3><a href="">Best Selling</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-file-list-3-line" style="color: #11dbcf;"></i>
              <h3><a href="">Books Suggestions</a></h3>
            </div>
          </div>
          <div class="col-lg-3 col-md-4 mt-4">
            <div class="icon-box">
              <i class="ri-disc-line" style="color: #b20969;"></i>
              <h3><a href="">Motivational Speech</a></h3>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Features Section -->
        <!-- ======= Testimonials Section ======= -->
        <section id="testimonials" class="testimonials">
          <div class="container" data-aos="fade-up">
    
            <div class="section-title">
              <p>What are they saying</p>
            </div>
    
            <div class="testimonials-slider swiper" data-aos="fade-up" data-aos-delay="100">
              <div class="swiper-wrapper">
    
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="assets/img/vikas.jpg" class="testimonial-img" alt="">
                      <h3>Elon Mask</h3>
                      <h4>Ceo &amp; Founder</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This is very Usefull website For all of us 
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="assets/img/g.jpg" class="testimonial-img" alt="">
                      <h3> Gurdeep singh</h3>
                      <h4>Developer</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This is very nice website 
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="/assets/img/vikas.jpg" class="testimonial-img" alt="">
                      <h3>Kunal </h3>
                      <h4>Developer</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        i Never see Like this website all over the world
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="assets/img//g.jpg" class="testimonial-img" alt="">
                      <h3>Neeraj Kaashav</h3>
                      <h4>Freelancer</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        this is my favourite website i am useing this website since 5 years i love this content
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
                <div class="swiper-slide">
                  <div class="testimonial-wrap">
                    <div class="testimonial-item">
                      <img src="/assets/img/vikas.jpg" class="testimonial-img" alt="">
                      <h3>Riya</h3>
                      <h4>Student</h4>
                      <p>
                        <i class="bx bxs-quote-alt-left quote-icon-left"></i>
                        This website very easy to use I learn everyday  all books lovers using  mentor
                        <i class="bx bxs-quote-alt-right quote-icon-right"></i>
                      </p>
                    </div>
                  </div>
                </div><!-- End testimonial item -->
    
              </div>
              <div class="swiper-pagination"></div>
            </div>
    
          </div>
        </section><!-- End Testimonials Section -->
    
    
        <!-- ======= Trainers Section ======= -->
        <section id="trainers" class="trainers">
          <div class="container" data-aos="fade-up">
    
            <div class="row" data-aos="zoom-in" data-aos-delay="100">
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static '/assets/img/vikas.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Mr. Vikas SINHMAR </h4>
                    <span>CEO</span>
                    <p>
                      “The best way to get the best out of people is to not force them to be something other than they naturally are. ...
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static '/assets/img/g.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4>Mr. Gurdeep Singh </h4>
                    <span> Director</span>
                    <p>
                      “The first responsibility of a leader is to define reality.
                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
              <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
                <div class="member">
                  <img src="{% static '/assets/img/g.jpg' %}" class="img-fluid" alt="">
                  <div class="member-content">
                    <h4> Mr. Kunal </h4>
                    <span>Manager</span>
                    <p>
                      A clear direction in which they want to steer their business. Ambition and optimism are good                    </p>
                    <div class="social">
                      <a href=""><i class="bi bi-twitter"></i></a>
                      <a href=""><i class="bi bi-facebook"></i></a>
                      <a href=""><i class="bi bi-instagram"></i></a>
                      <a href=""><i class="bi bi-linkedin"></i></a>
                    </div>
                  </div>
                </div>
              </div>
    
            </div>
    
          </div>
        </section><!-- End Trainers Section -->
    


  </main><!-- End #main -->
  {% endblock  %}